################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IotGrpcLearning/CopilotIndices/18.0.981.45449
/.vs/IotGrpcLearning.slnx/FileContentIndex
.vs/
